all:
  children:
    devices:
      hosts:
{% if device_hosts %}{% for host in device_hosts %}
        {{ host.instance_id }}:
{% endfor %}{% else %}
        {}
{% endif %}
    lxc:
      hosts:
{% if lxc_hosts %}{% for host in lxc_hosts %}
        {{ host.instance_id }}:
{% endfor %}{% else %}
        {}
{% endif %}
