terraform {
  required_version = "{{ terraform_version }}"
  required_providers {
    proxmox = {
      source  = "{{ proxmox_provider_source }}"
      version = "{{ proxmox_provider_version }}"
    }
  }
}
