terraform {
  required_version = "{{ terraform_version }}"
  required_providers {
    routeros = {
      source  = "{{ mikrotik_provider_source }}"
      version = "{{ mikrotik_provider_version }}"
    }
{% if has_containers %}
    wireguard = {
      source  = "OJFord/wireguard"
      version = "~> 0.3"
    }
{% endif %}
  }
}

provider "routeros" {
  hosturl  = var.mikrotik_host
  username = var.mikrotik_username
  password = var.mikrotik_password
  insecure = var.mikrotik_insecure
}

{% if has_containers %}
provider "wireguard" {}
{% endif %}
