mikrotik_host = "{{ mikrotik_host }}"
mikrotik_username = "terraform"
mikrotik_password = "<TODO_MIKROTIK_PASSWORD>"
mikrotik_insecure = true
wireguard_private_key = "<TODO_WG_PRIVATE_KEY>"
wireguard_peers = []
adguard_password = "<TODO_ADGUARD_PASSWORD_HASH>"
tailscale_authkey = "<TODO_TAILSCALE_AUTHKEY>"
